 /* Main properties */

 body {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
 }


h1, h2, h3 {
  font-weight: 800;
  font-size: 21px;
  color: #000000;
}

a {
  text-decoration: none;
}

input {
  box-sizing: border-box;
}


/* ======================================================================= */

.wrapper {
  min-width: 768px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);

}

/* Header */

.main-header {
  display: flex;
  position: relative;
  width: 100%;
  height: 56px;
  background-color: white;
  color: #000000;
  font-weight: 700;
  line-height: 26px;
}



.main-navigation {
  min-height: 26px;
  font-weight: 700;
  width: 100%;
  display: flex;
}

.site-navigation {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  line-height: 26px;
}

.main-navigation a:hover{
  color:#89b8d5;
}

.main-navigation a:active {
  color:rgba(0, 0, 0, 0.3);
}


.site-navigation__link:nth-of-type(1) {
  padding-left: 71px;
}

.site-navigation__link:nth-of-type(2) {
  margin-right: 246.5px;
  text-align: center;
  padding-left: 6px;
}

.site-navigation__link:nth-of-type(3) {
  text-align: center;

}

.site-navigation__link:nth-of-type(4) {
  padding-right: 72px;
  text-align: right;
}



.site-navigation__link {
  box-sizing: border-box;
  width: 239px;
}

.main-header-logo {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 51px;
}

.main-header-logo a {
  display: inline-block;
  height: 100%;
}

.site-navigation a {
  color: #000000;
}

.site-navigation__link .active:visited {
  color: #766357;
}



/* ================================================================================ */

/* backround-image */

.welcome {
  position: relative;
  height: 432px;
  padding-top: 75px;
  background-size: cover;
  background:  #c0d6e4 url(../img/index/background-photo.jpg) no-repeat;
  background-position: center -85px;
  background-color: #81b3d2
  ;
}

.welcome-title {
  display: block;
  width: 459px;
  height: 353px;
  margin: 0 auto;
}
.welcome::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 59px;
  background-image: url(../img/index/polygon.png);
  background-repeat: no-repeat;
  background-size: 1203px 59px;
  background-position: -1px 1.5px;
}

/* ======================================================================== */


/* h1 */


.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0 44px;
  text-align: center;
}

.promo-title {
  width: 440px;
  line-height: 26px;
  margin-top: 19px;
}

.promo-reasons {
  color: #333333;
  padding-top: 5px;
}
/* ======================================================================================= */

 /* advantages  */

 .advantage-blue {
  width: 100%;
  min-height: 256px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.blue-image {
  background-color: #766357;
  height: auto;
  object-fit: cover;
}

.advantages h2 {
  color: #ffffff;
  line-height: 21px;
}

.advantage-blue p {
  color: #ffffff;
  line-height: 21px;
}

.description-blue {
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  padding-bottom: 14px;
  min-height: 242px;
}

.advantage-description-top {
  width: 280px;
}

.advantage-title {
  width: 140px;
}

.advantage-top .description-blue{
  width: 400px;
}

.advantage-description-bottom {
  width: 303px;
}


.advantage-number {
  padding-top: 8px;
  margin-top: 0;
  margin-bottom: 0;
}

.advantage-description-top,
.advantage-description-bottom {
  padding-top: 7px;
}

.advantages-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 57px  0;
  margin: 0;
  list-style: none;
  line-height: 21px;
  text-align: center;
}

.advantages-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: auto;
  padding: 0;
  margin: 0 0 2px 0;
  list-style: none;
  line-height: 21px;
  text-align: center;
  background-color: #eeeeee;

}

.advantages-line li{
  width: 33.3%;
}

.advantages-line img {
  padding-left: 1px;
  padding-bottom: 3px;
}

.advantages-line p {
  color: #333333;
}

.advantages-line h3 {
  padding-bottom: 3px;
}

.advantages-row li{
  width: 33.3%;
}

.advantages-row p {
  color: #333333;
}

.house-text {
  min-width: 252px;
}

.food-text  {
  min-width: 285px;
}

.souvenirs-text {
  min-width: 273px;
}

.feature-item-house {
  padding-left: 73px;
  padding-right: 75px;
  padding-bottom: 8px;
}

.feature-item-food {
  padding-left: 58px;
  padding-right: 58px;
}

.feature-item-souvenirs {
  padding-left: 64px;
  padding-right: 63px;
  padding-bottom: 8px;
}

.more-advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 56px;
}

.more-title {
  margin: 0 auto;
}

.more-advantage h3 {
  width: 30%;
}

.area-text {
  width: 208px;
  margin: 0 auto;
  padding-top: 7px;
}

.road-text {
  width: 262px;
  margin: 0 auto;
  padding-top: 7px;
}

.tourist-text {
  width: 255px;
  margin: 0 auto;
  padding-top: 7px;
}

.more-number {
  padding-top: 12px;
}




/* ============================================================================== */

/* Поиск гостиницы */

.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.search-text {
  text-align: center;
  margin-bottom: 3px;
}

.search-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 800;
  margin-top: 51px;
  margin-bottom: 25px;
}

.search-date {
  line-height: 24px;
  color: #333333;
}

.find-hotel {
  width: 568px;
  min-height: 86px;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  border: 0;
}

.find-hotel:hover {
  background-color: #604e43;
}

.find-hotel:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.form-map {
  width: 100%;
  height: 473px;
}

.form-hotels {
  position: absolute;
  text-align: center;
  width: 568px;
  height: 395px;
  left: 50%;
  transform: translateX(-50%);
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  line-height: 26px;
  width: 458px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  color: #000000;
  padding: 55px;
  position: absolute;
  background-color: #ffffff;
}

.date-in,
.date-out {
  display: flex;
  align-items: baseline;
  position: relative;
}

.date-in {
  margin-bottom: 29px;
}

.date-out {
  margin-bottom: 30px;
}

.arrival {
  text-align: left;
  width: 91px;
  margin-right: 21px;
}

.departure {
  text-align: left;
  width: 95px;
  margin-right: 17px;
}



.arrival-text,
.departure-text {
  border: none;
  background-color: #f2f2f2;
  width: 346px;
  height: 38px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  padding-right: 35px;
}

.arrival-text {
  padding-left: 13px;
}

.departure-text {
  padding-left: 12px;
}


.quantity {
  display: flex;
  align-items: baseline;
  margin-bottom: 54px;
  width: 458px;
}

.adult-label {
  text-align: left;
  width: 71px;
  padding-right: 41px;
}

.children-label {
  text-align: center;
  width: 38px;
  padding-right: 27px;
  padding-left: 56px;
}

.quantity-adult,
.quantity-children {
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}



.adult-minus {
  padding: 10px 13px 10px 13px;
  border: 0;
  background-color: #f2f2f2;
  color: #818181;
  cursor: pointer;
  width: 38px;
  height: 38px;
  text-align: center;
}

.adult-plus {
  padding: 10px 14px 10px 13px;
  border: 0;
  background-color: #f2f2f2;
  color: #818181;
  cursor: pointer;
  width: 38px;
  height: 38px;
  text-align: center;
}

.adult-field {
  padding: 10px 10px;
  font-weight: bold;
  border: 0;
  background-color: #f2f2f2;
  color: #000000;
  width: 38px;
  height: 38px;
  text-align: center;
  margin-right: -4px;
  margin-left: -4px;
}

.children-minus {
  padding: 10px 13px 10px 13px;
  border: 0;
  background-color: #f2f2f2;
  color: #818181;
  cursor: pointer;
  width: 38px;
  height: 38px;
  text-align: center;
}

.children-plus {
  padding: 10px 14px 10px 13px;
  border: 0;
  background-color: #f2f2f2;
  color: #818181;
  cursor: pointer;
  width: 38px;
  height: 38px;
  text-align: center;
}

.children-field {
  padding: 10px 10px;
  font-weight: bold;
  border: 0;
  background-color: #f2f2f2;
  color: #000000;
  width: 38px;
  height: 38px;
  text-align: center;
  margin-right: -4px;
  margin-left: -4px;
}


.calendar {
  fill: #cacaca;
  width: 21px;
  height: 22px;
  top: 8px;
  position: absolute;
  left: 93%;
}

.calendar:hover {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

.search-form input:hover {
  background-color: #f2f2f2;
}

.search-form input:focus {
  background-color: #f2f2f2;
  border: 2px solid#e5e5e5;
}

.icon-minus,
.icon-plus {
  fill: #cacaca;
  vertical-align: middle;
}

.adult-minus:hover .icon-minus,
.adult-plus:hover .icon-plus,
.children-minus:hover .icon-minus,
.children-plus:hover .icon-plus {
  fill: #000000;
}

.adult-minus:active .icon-minus,
.adult-plus:active .icon-plus,
.children-minus:active .icon-minus,
.children-plus:active .icon-plus {
  fill: #81b3d2;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}



.search-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
}

.map-sedona {
  background-image: url(../img/index/map.jpg);
}

/* ================================================================================ */

/* Подвал */

.main-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 120px;
  opacity: 0.9;
  background-color: #ffffff;
}

.contacts {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  padding-left: 34px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 51px;
  padding-top: 1px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-link:not(:last-child) {
  margin-right: 6px;
}

.social-svg {
  fill: #ffffff;
}

.social-link:hover {
  background: #669ec0;
}

.social-link:active .social-svg{
  fill: rgba(255, 255, 255, 0.3);
}


.footer-copyright {
  display: flex;
  line-height: 26px;
  padding-top: 11px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
}

.copyright-logo{
  width: 115px;
  height: 41px;
  margin-left: 8px;
  fill: #000000;
}

.copyright-logo:hover {
  fill: #81b3d2;
}

.copyright-logo:active {
  fill: #bdbbbc;
}

.number-link {
  color: #000000;
}

.footer-number {
  padding-left: 1px;
  padding-top: 6px;
}

.copyright-text {
  padding-bottom: 5px;
}

/* ======================================================================================== */

/* catalog.html */

/* header */

.header-filter {
  color: #ffffff;
  line-height: 21px;
  background-image: url("../img/catalog/filter-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #766357;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 217px;
  padding-left: 70.5px;
}

.header-filter ul {
  list-style: none;
}

.header-filter fieldset{
  border: 0 none;
  margin-top: -35px;
  padding-left: 0;
}

.header-filter legend {
  font-size: 16px;
  font-weight: 800;
  padding-top: 61px;
}

.components-list,
.houses-list {
  padding-top: 7px;
  padding-left: 0;
}

.components-item,
.houses-item {
  margin-bottom: 22px;
}

.filter-houses {
  padding-right: 232px;
}

.header-filter label {
  display: flex;
}

.components-text {
  padding-left: 11px;
}

.houses-text {
  padding-left: 17px;
}



.filter-input {
  width: 27px;
  height: 23px;
  appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 3px;
  margin: 0;
  cursor: pointer;
  background-image: url(../img/catalog/checkbox-off.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.filter-input:checked {
  background-image: url(../img/catalog/checkbox-on.svg);
}

.filter-input::-ms-check {
  display: none;
}



.filter-range {

  color: #ffffff;
  margin-right: 72px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  width: 314px;
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: middle;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 83px;
  padding-left: 64px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  line-height: 0px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.button-transparent {
  display: block;
  margin: 5px 0px 5px 83px;
  padding: 7px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;
  background: #ffffff;
}



/* ========================================================================================== */

/* Сортировка */
.search-results {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cacaca;
  margin-top: 9px;
  padding-bottom: 7px;
  padding-right: 73px;
  padding-left: 72px;
  padding-top: 2px;
}

.search-results h3 {
  line-height: 25px;
}

.results-title {
  white-space: nowrap;

}


.sort {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  padding-left: 7px;
}

.search-center {
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 100%;
  vertical-align: middle;
}

.search-list {
  display: flex;
  list-style: none;
  padding-left: 47px;
}

.search-item:nth-child(2) {
  padding-left: 33px;
}

.search-item:nth-child(3) {
  padding-left: 33px;
}


.search-center a{
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  border-bottom: 1px dashed #81b3d2;
}
.search-center a:hover {
  color: #81b3d2;
}

.search-center a:active {
  color: #000000;
  border: none;
}

.search-center .active-search {
  text-decoration: none;
  color: #81b3d2;
  border: none;
  margin-left: -7px;
}

.search-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
}

.page-down,
.page-up {
  background-color: #fff;
  border: 0 solid;
  padding: 0;
  margin-left: 10px;
  width: 12px;
  cursor: pointer;
}

.arrow-up {
  fill: #cacaca;
  height: 10px;
  width: 11px;
}

.arrow-down {
  fill: #81b3d2;
  height: 10px;
  width: 11px;
}

.page-up:hover .arrow-up{
  fill: #000000;
}

.page-up:active .arrow-up{
  fill: #81b3d2;
}

.search-right button:hover {
  color: #000000;
}

.search-right button:active {
  color: #81b3d2
}

/* ================================================================ */

/* Гостиницы */

.catalog-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cacaca;
  padding-left: 72px;
  padding-right: 73px;
  margin: 29px 0 0;
  padding-bottom: 26px;
  box-sizing: border-box;
}

.catalog-item a {
  height: fit-content;
}

.catalog-img {
  display: flex;
  align-items: center;
}


.description a {
  color: #000000;
}

.left-column {
  display: flex;
}



.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 30px;

}


.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.catalog-list h3 {
  line-height: 26px;
  margin-top: -4px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 2px;
  height: 100%;
}

.catalog-list a:hover {
  color: #81b3d2;
}

.catalog-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.type-price {
  display: flex;
  line-height: 21px;
  color: #333333;
  margin-bottom: 14px;
}

.type {
  display: flex;
  align-items: flex-start;
}

.top-price {
  padding-left: 39px;
}

.middle-price {
  padding-left: 64px;
}

.bottom-price {
  padding-left: 21px;
}

.button-blue {
  padding: 3.6px 17px;
  box-sizing: border-box;
  background-color: #81b3d2;
  font-weight: 700;
  line-height: 21px;
}

.hotel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.hotel-buttons a{
  color: #ffffff;
}

.button-blue:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.button-blue:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown {
  background-color: #766357;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 3.6px 17px;
  border: none;
  margin-left: 6px;
  box-sizing: border-box;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 13px;
  background-color: #f2f2f2;
  text-align: center;
  margin-top: 47px;
}

.icon-star {
  display: inline-block;
  background-image: url(../img/catalog/star.svg);
  width: 18px;
  height: 17px;
}





/* ===================================================================================================== */
