body {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

/* .welcome {
  background-image: url(/img/index/background-photo.jpg);
} */

.promo {
  line-height: 26px;
}

.promo-title {
  font-size: 21px;
  font-weight: 700;
}

.promo-reasons {
  color: #333333;
}

/* .advantages {

} */

.advantages h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
}

.advantages h3 {
  font-size: 21px;
  font-weight: 700;
}

.advantage-blue p {
  color: #ffffff;
}

.advantages-line {
  list-style: none;
}

.advantages-line p {
  color: #333333;
}


/* .search-hotel{
  text-align: center;
} */

.search-question {
  font-size: 30px;
  line-height: 36px;
}

.search-date {
  line-height: 24px;
  color: #333333;
}

.find-hotel {
  width: 568px;
  height: 86px;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}

.search-form {
  font-weight: 700;
  line-height: 26px;
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-form input {
  background-color: #f2f2f2;
  width: 346px;
  height: 38px;
}

.quantity input {
  width: 38px;
  height: 38px;
}

.search-button {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  text-transform: uppercase;
}

.main-footer{
  width: 1200px;
  height: 120px;
  opacity: 0.9;
}

.contacts {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
}

.footer-social li {
  list-style: none;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-copyright {
  line-height: 26px;
}

.footer-copyright img {
  color: #231f20;
}

/* catalog.html */

.header-filter {
  color: #ffffff;
}
.header-filter fieldset{
  border: 0 none;
}

.header-filter legend {
  font-size: 16px;
  font-weight: 700;
}

.header-filter input {
  width: 23px;
  height: 23px;
  object-fit: contain;
  background-color: #ffffff;
}

.filter-price input {
    width: 157px;
    height: 32px;
    border: solid 2px #ffffff;
    color: #ffffff;
}

.buttton-show {
  width: 133px;
  height: 32px;
  border: solid 2px #ffffff;
  line-height: 21px;
  font-size: 14px;
  color: #ffffff;
}


.search-results h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.search-center small {
  font-size: 12px;
  line-height: 18px;
}
.search-center li {
  list-style: none;
}

.search-center a{
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  border-bottom: 1px dashed #81b3d2;
}

/* .active {

} */

.page-up {
  width: 11px;
  height: 10px;
  object-fit: contain;
  background-color: #cacaca;
}

.page-down {
  width: 11px;
  height: 10px;
  object-fit: contain;
  background-color: #81b3d2;
}

.catalog-list {
  list-style: none;
}

.catalog-list h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.button-blue {
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
  font-weight: bold;
}

.button-brown {
  width: 142px;
  height: 27px;
  background-color: #766357;
}

.hotel-rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}

.catalog a {
  color: #000000;
}
